@model MyMCE.Models.Domain.GlobalLink.tbl_MCE_GlobalLink
@{
    /**/

    ViewBag.Title = "Global Link";
    Layout = "~/Views/Shared/_LayoutAdminLte.cshtml";
}

<script src="~/adminlte/js/sweet-alert.init.js"></script>
<script src="~/adminlte/js/sweetalert.min.js"></script>
<script src="~/adminlte/js/sweetalert2.all.min.js"></script>


@if (TempData["Success"] != null)
{

    <script type="text/javascript">
                                swal.fire(
                                    {
                                        title: '@TempData["Success"]',
                                        type: 'success'
                                    });
    </script>
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
        $(document).ready(function () {
            $("#intGLinkID").change(function () {
                debugger
                $("#intGLinkID").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CreateGlobalLink")',

                        dataType: 'json',

                        error: function (ex) {
                            alert('Failed.' + ex);
                        }
                    });
                    return false;
                });
        });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <!-- Main content -->
    <section class="content">

        <div class="row">

            <div class="col-12 col-sm-12">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active">New GlobalLink</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Globallink/GlobalLinkDataTable">View GlobalLink</a>
                            </li>


                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="custom-tabs-new-subject">
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.vchGLinkName)

                                            @Html.EditorFor(model => model.vchGLinkName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                            @Html.ValidationMessageFor(model => model.vchGLinkName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.intSortNum)

                                            @Html.EditorFor(model => model.intSortNum, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                            @Html.ValidationMessageFor(model => model.intSortNum, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.bitHomePage)


                                            @Html.DropDownListFor(Model => Model.bitHomePage, new SelectList(ViewBag.home_Page as System.Collections.IEnumerable, "vchValue", "vchText"),
                                                           "Select Home Page", htmlAttributes: new { @class = "form-control form-control-sm" })

                                            @Html.ValidationMessageFor(model => model.bitHomePage, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>


                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.vchIcon)

                                            @Html.EditorFor(model => model.vchIcon, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                            @Html.ValidationMessageFor(model => model.vchIcon, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.vchRemarks)

                                            @Html.EditorFor(model => model.vchRemarks, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                            @Html.ValidationMessageFor(model => model.vchRemarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <input type="submit" value="Create" id="btnSubmit" class="btn btn-info" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

    </section>


}

@section Scripts {
    <script type="text/javascript" language="javascript">
        $(function () {

            $("#btnSubmit").click(function () {

                if (confirm("Are you sure you want to  Add Data?")) {
                    return true;
                } else {
                    return false;
                }

            });
        });

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}












