@model MyMCE.Models.Domain.GroupLinkAccess.tbl_MCE_GroupLinkAccess

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminLte.cshtml";
}




<script src="~/adminlte/js/sweet-alert.init.js"></script>
<script src="~/adminlte/js/sweetalert.min.js"></script>
<script src="~/adminlte/js/sweetalert2.all.min.js"></script>


@section Scripts {
    <script type="text/javascript" language="javascript">
        $(function () {

            $("#btnSubmit").click(function () {

                if (confirm("Are you sure you want to Save changes?")) {
                    return true;
                } else {
                    return false;
                }

            });
        });
    </script>
}



@using (Html.BeginForm("Edit", "GroupLinkAccess", FormMethod.Post, new { @id = "CreateForm" }))
{
    @Html.AntiForgeryToken()

    <!-- Default box -->
    <div class="card">
        <div class="card-header">

            <h3 class="card-title">Edit </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <!-- card-body -->
        <div class="card-body">
            <div class="tab-content">
                <div class="active tab-pane" id="Add">
                    <div class="row">
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                @Html.HiddenFor(model => model.intGroupLinkAccessID)



                                @Html.LabelFor(model => model.vchGroupLinkAccessName)

                                @Html.EditorFor(model => model.vchGroupLinkAccessName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vchGroupLinkAccessName, "", new { @class = "text-danger" })




                            </div>
                        </div>

                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">


                                @Html.LabelFor(model => model.intRoleID)

                                @Html.DropDownListFor(Model => Model.intRoleID, new SelectList(ViewBag.RoleList as System.Collections.IEnumerable, "intRoleID", "vchRoleDescription"),
                                               "Select a Role", htmlAttributes: new { @class = "form-control " })

                                @Html.ValidationMessageFor(model => model.intRoleID, "", new { @class = "text-danger" })




                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">

                                @Html.LabelFor(model => model.intPLinkID)

                                @Html.DropDownListFor(Model => Model.intPLinkID, new SelectList(ViewBag.PlinkList as System.Collections.IEnumerable, "intPLinkID", "vchPLinkName"),
                                               "Select a Primary Link", htmlAttributes: new { @class = "form-control " })

                                @Html.ValidationMessageFor(model => model.intPLinkID, "", new { @class = "text-danger" })




                            </div>
                        </div>



                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.vchRemarks)

                                @Html.EditorFor(model => model.vchRemarks, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vchRemarks, "", new { @class = "text-danger" })


                            </div>
                        </div>

                    </div>



                    <div class="row">
                        <div class="col-sm-3">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>



                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="View">

                </div>

                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <input type="submit" value="Update" id="btnSubmit" class="btn btn-info" />



            <h3 class="btn btn-default float-right">@Html.ActionLink("Back to List", "ViewGroupLinkAccessDataTableWithSearchPanel")</h3>

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
}




























