@model MyMCE.Models.Domain.GroupLinkAccess.tbl_MCE_GroupLinkAccess

@{
    ViewBag.Title = "ViewGroupLinkAccessDataTableWithSearchPanel";
    Layout = "~/Views/Shared/_LayoutAdminLte.cshtml";
}


<script src="~/adminlte/js/sweet-alert.init.js"></script>
<script src="~/adminlte/js/sweetalert.min.js"></script>
<script src="~/adminlte/js/sweetalert2.all.min.js"></script>

@if (TempData["Success"] != null)
{
    <script type="text/javascript">
                            swal.fire(
                                {
                                    title: '@TempData["Success"]',
                                    type: 'success'
                                });
    </script>

}

@*Following JQuery need cascade drop down (to add to populate branch as per selection of Course)*@

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<section class="content">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="/GroupLinkAccess/CreateGroupLinkAccess">New GroupLinkAccess</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active">View GroupLinkAccess</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="custom-tabs-new-subject">
                            <div class="row">
                                <div class="col-12">
                                    @*<div class="card">*@
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <!-- text input -->
                                                <div class="form-group">

                                                    @*@Html.LabelFor(model => model.intGLinkID)

                                                        @Html.DropDownListFor(Model => Model.intGLinkID, new SelectList(ViewBag.GlinkList as System.Collections.IEnumerable, "intGLinkID", "vchGLinkName"),
                                                                       "Select a Global Link", htmlAttributes: new { @class = "form-control " })

                                                        @Html.ValidationMessageFor(model => model.intGLinkID, "", new { @class = "text-danger" })*@
                                                    @Html.LabelFor(model => model.vchGroupLinkAccessName)

                                                    @Html.EditorFor(model => model.vchGroupLinkAccessName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                    @Html.ValidationMessageFor(model => model.vchGroupLinkAccessName, "", new { @class = "text-danger" })



                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.vchDescription)

                                                    @Html.EditorFor(model => model.vchDescription, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                    @Html.ValidationMessageFor(model => model.vchDescription, "", new { @class = "text-danger" })

                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">

                                                    @Html.LabelFor(model => model.vchPLinkName)

                                                    @Html.EditorFor(model => model.vchPLinkName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                    @Html.ValidationMessageFor(model => model.vchPLinkName, "", new { @class = "text-danger" })

                                                </div>
                                            </div>


                                        </div>


                                        <div class="row">
                                            <div class="col-sm-3">


                                            </div>
                                            <div class="col-sm-3 offset-sm-6">
                                                <div class="form-group">
                                                    <div class="text-right">
                                                        <input type="submit" value="Show" id="btnShow" class="btn btn-info" />

                                                    </div>


                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="row">


                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <!-- /.card-header -->
                                    <div class="card-body">

                                        <table id="GroupLinkAccessTable" class="table table-striped table-bordered" style="width:100%">
                                            @*Semantic UI*@
                                            @*<table id="employeeTable" class="ui celled table">*@
                                            @*Bootstrap*@
                                            @*<table id="employeeTable" class="table table-striped table-bordered">*@

                                            <thead>
                                                <tr>
                                                    <th>GroupLinkAccessName</th>
                                                    <th>Role </th>
                                                    <th>Primary Link </th>

                                                    <th>Action</th>

                                                </tr>
                                            </thead>

                                        </table>

                                    </div>
                                    <!-- /.card-body -->
                                    @*</div>*@

                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>

                    <!-- /.tab-content -->
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /.content -->


<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

@*For Export Buttons*@
<link href="//cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" rel="stylesheet" />



@section scripts{
    @* Normal *@
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    @*For Export Buttons*@
    <script src="//cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>



    <script>
        var grid;
        jQuery(document).ready(function ($) {
            //initialise blank datatable on page load
            grid = $('#GroupLinkAccessTable').DataTable({
                "processing": false, // control the processing indicator.
                paging: false,
                searching: false,
                info: false,
                // you can load data here also as per requirement
            });
        });



        //l - length changing input control
        //f - filtering input
        //t - The table!
        //i - Table information summary
        //p - pagination control
        //r - processing display element

        jQuery(document).ready(function ($) {
            jQuery('#btnShow').click(function () {
                //debugger
                var groupLinkAccessSearchPanel = {};
                groupLinkAccessSearchPanel.vchGroupLinkAccessName = $("#vchGroupLinkAccessName").val();
                groupLinkAccessSearchPanel.vchPLinkName = $("#vchPLinkName").val();
                groupLinkAccessSearchPanel.vchDescription = $("#vchDescription").val();
                // destroy datatable
                $("#GroupLinkAccessTable").dataTable().fnDestroy()
                //reinitialise datatable
                var oTable = $("#GroupLinkAccessTable").dataTable(
                    {
                        "processing": true, // for show progress bar
                        "serverSide": true, // for process server side
                        "filter": false, // this is for disable filter (search box)
                        "orderMulti": false, // for disable multi column order
                        //"dom": '<"top"i>rt<"bottom"lp><"clear">',
                        /*"order": [[3, "asc"]],*/ // Default ordering (sorting) asc, desc
                        //To display processing icon while loading the data
                        "language":
                        {
                            "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                        },

                        "ajax": {
                            "url": "/GroupLinkAccess/GetGroupLinkAccessForSearchPanel",
                            "type": "POST",
                            "datatype": "json",
                            "data": {groupLinkAccessSearchPanel: groupLinkAccessSearchPanel},
                        },

                        "columns": [

                            { "data": "vchGroupLinkAccessName", "name": "vchGroupLinkAccessName", "width": "25%" },

                            { "data": "vchDescription", "name": "vchDescription", "width": "25%" },

                            { "data": "vchPLinkName", "name": "vchPLinkName", "width": "25%" },



                            {
                                "data": "intGroupLinkAccessID", /*"width": "50px",*/ "render": function (data) {
                                    return '<a class="btn btn-primary btn-sm" href="/GroupLinkAccess/Edit/' + data + '"><i class="fas fa-edit"></i> </a><a class="btn btn-warning  btn-sm" style="margin-left:5px " href="/GroupLinkAccess/GroupLinkAccessDetails/' + data + '"><i class="fas fa-bars"></i>  </a> <a class="btn btn-danger  btn-sm" style="margin-left:5px " href="/GroupLinkAccess/DeleteGroupLinkAccess/' + data + '"><i class="fas fa-trash"></i>  </a>';
                                },
                                "orderable": false
                            }
                        ],
                        //dom: 'Bfrtip',
                        dom: 'B<"top"i>rt<"bottom"lp><"clear">',
                        buttons: [
                            { extend: 'copy' },
                            { extend: 'csv' },
                            { extend: 'excel' },
                            { extend: 'pdf' },
                            { extend: 'print' }
                        ]
                    }
                );
            });



        });
    </script>


}

